.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  height: 50px;
  transition: 1s;
}
.nav_black {
  background-color: #111;
  transition: 1s;
}

.nav_logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 40px;
}

.nav_user {
  width: 40px;
  height: 40px;
  object-fit: contain;
  position: fixed;
  top: 5px;
  right: 40px;
  border-radius: 5px;
}
